p {
  color: #5EABD6;
  font-size: 50px;
  font-family: "Arial", sans-serif;
}
#id1 {
  font-size: 500%;
}

h2 {
  font-size: 500%
}

a {
  color: #E14434;
}

div {
  border: 1px solid black;
  margin: 100px 25px 25px 25px;
  padding: 25px 25px 25px 25px;
  background-color: #FFB4B4;
}

#id2 {
  border: 10px solid #E14434;
}

.hover1 {
  background-color: E14434;
  color: #FFB4B4;
}

.hover1:hover {
  animation: cool 3s ease-in-out infinite;
}

@keyframes cool {
  0% { background-color: #E14434;}
  33% {background-color: #5EABD6;}
  66% {background-color: #FEFBC7;}
  100% {background-color: #E14434;}
}

.lift {
  box-shadow: 0 4px 6px rgba(0,0,0,1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.lift:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}

verysmall {
  font-size: 30%;
}
/*
.typewriter {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  animation: typing 3s steps(30, end), blink-caret .75s step-end infinite;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
*/
